vidbackend/Pulse_Backend_Video/pulse/pulse/__pycache__/settings.cpython-312.pyc
vidbackend/Pulse_Backend_Video/pulse/pulse/__pycache__/settings.cpython-312.pyc
vidbackend/Pulse_Backend_Video/pulse/pulse/__pycache__/settings.cpython-312.pyc
